:root {
  /* Fonts */
  --font-body: 'Lato', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-heading: 'Lora', Times, serif;
  --font-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  /* Colors */
  --color-blue-900: #060640;
  --color-blue-100: #ECF9FF;
  --color-pink-100: #FFDEDE;
  --color-gray-100: #DDDDDD;
  --color-gray-700: #333333;
  --color-gray-800: #222222;

  --color-white: #FFFFFF;
  --color-black: #000000;


    --text-color: var(--color-blue-900);
    --heading-color: inherit;
    --light-text-color: var(--color-blue-100);
    --link-color: var(--color-blue-900);
    --link-color-alt: var(--color-pink-100);
    --ins-background: var(--color-blue-100);
    --del-background: var(--color-blue-100);
    --mark-background: var(--color-blue-100);
    --page-background: var(--color-gray-100);
    --element-background: var(--color-blue-100);
    --accent-color: var(--color-gray-700);
    --invalid-color: #DC2F2F;

    /* Spacing */
    --content-width: 55rem; /* 880px */
    --sidebar-width: 15rem; /* 240px */

    /* --------------------------------------------------------------------------
     * Size table using 8pt grid
     * PX       REM         STEP
     * :----    :-------    :-----
     * 4px      0.25rem     0.5
     * 8px      0.5rem      1
     * 12px     0.75rem     1.5
     * 16px     1rem        2
     * 18px     1.25rem     2.5
     * 24px     1.5rem      3
     * 28px     1.75        3.5
     * 32px     2rem        4
     * 36px     2.25rem     4.5
     * 44px     2.75rem     5.5
     * 48px     3rem        6
     * 64px     4rem        8
     * 72px     4.5rem      9
     * 80px     5rem        10
     * 128px    8rem        16
    -------------------------------------------------------------------------- */

    --sp_0: 0.25rem;    /* 4px     utility to substitute 0 margins to add some polish */
    --sp_1: 0.5rem;     /* 8px     utility for tight paddings etc */
    --sp_2: 1rem;       /* 16px    1/2 line height, for closely related elements */
    --sp_4: 2rem;       /* 32px    1 line height, for related elements */
    --sp_8: 4rem;       /* 64px    2 line heights, for loosely related elements */
    --sp_16: 8rem;      /* 128px   4 line heights, for unrelated elements */

    --flow-space: var(--sp_4);
    --gutter: var(--sp_2);
    --section-space: var(--sp_16);

    /* Modular Scale */
    --typeset_-1: 1rem/1.5rem var(--font-body);       /* 16px/24px */
    --typeset_0: 1.25rem/2rem var(--font-body);       /* 18px/32px */
    --typeset_1: 1.5rem/2rem var(--font-body);        /* 24px/32px */
    --typeset_2: 2rem/2.5rem var(--font-body);    /* 36px/44px */
    --typeset_3: 2.5rem/3rem var(--font-body);        /* 48px/56px */
    --typeset_4: 3rem/3rem var(--font-body);      /* 72px/72px */
    --typeset_5: 5rem/5rem var(--font-body);          /* 80px/80px */
  }
  @media (min-width: 55rem) {
    :root {
      --typeset_-1: 1rem/1.5rem var(--font-body);       /* 16px/24px */
      --typeset_0: 1.25rem/2rem var(--font-body);       /* 18px/32px */
      --typeset_1: 1.5rem/2rem var(--font-body);        /* 24px/32px */
      --typeset_2: 2.25rem/2.75rem var(--font-body);    /* 36px/44px */
      --typeset_3: 3rem/3.5rem var(--font-body);        /* 48px/56px */
      --typeset_4: 4.5rem/4.5rem var(--font-body);      /* 72px/72px */
      --typeset_5: 5rem/5rem var(--font-body);          /* 80px/80px */
    }
  }

/* END !SECTION TOKENS */
